<div id="links">
    
    <div class="insideLinks">
        <div class="linkGroup">
            <a href="/" class="title"><b>My Application</b></a>
            <a href="/api/v1/passengers"><b>All Passengers</b></a> |
            <a href="/api/v1/flights"><b>All Flights</b></a> |
            <a href="/api/v1/about"><b>About</b></a> |
            <a href="/api/v1/help"><b>Help</b></a> |
           
        </div>   
    </div>
</div>
