<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <title>Home</title>
    
    <link rel="stylesheet" href="/styles/header_style.css" type="text/css">
    <link rel="stylesheet" href="/styles/index_style.css">
</head>

<body id="wrapper">
	<header>
        <%- include('partials/header'); -%>  
    </header>
    
    <main>
        <h1>About</h1>
        <center>
            <h2>This website allows you to manage flights and passengers that are flying out of a particular airport </br>(Can be any airport you want)</h2>
            <h3><b>More specifically, this website allows you to:</b></h3>
            <ul style="width: 20%;">
                <li>Add flights</li>
                <li>Add passengers</li>
                <li>Assign passengers to a flight</li>
                <li>View passengers or flights</li>
                <li>Modify passengers or flights</li>
                <li>Remove passengers from a flight</li>
                <li>Delete passengers or flights the database</li>
            </ul>
        </center>
    </main>

    <footer>

    </footer>

</body>
</html>
